@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BankingApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: #CCDDF6; overflow-x: hidden;">
    <div class="container-main">
        <h1>@ViewData["Title"]</h1>
        <div class="row">
            <div class="col-md-4">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h4>Create a new account.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Input.Name"></label>
                            <input asp-for="Input.Name" class="form-control" />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 col-md-offset-2">
                            <label asp-for="Input.Surname"></label>
                            <input asp-for="Input.Surname" class="form-control" />
                            <span asp-validation-for="Input.Surname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.CNP"></label>
                        <input asp-for="Input.CNP" class="form-control" />
                        <span asp-validation-for="Input.CNP" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Address"></label>
                        <input asp-for="Input.Address" class="form-control" />
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Input.Country"></label>
                            <input asp-for="Input.Country" class="form-control" />
                            <span asp-validation-for="Input.Country" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 col-md-offset-2">
                            <label asp-for="Input.City"></label>
                            <input asp-for="Input.City" class="form-control" />
                            <span asp-validation-for="Input.City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Input.District"></label>
                            <input asp-for="Input.District" class="form-control" />
                            <span asp-validation-for="Input.District" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 col-md-offset-2">
                            <label asp-for="Input.PostalCode"></label>
                            <input asp-for="Input.PostalCode" class="form-control" />
                            <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.PhoneNumber"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <section>
                    <h4>At BankingApp, we grow together.</h4>
                    <hr />
                    <p>
                        &ensp;&ensp;&ensp;&ensp; We are guided by a common purpose to help make financial lives better by connecting clients and communities to the resource they need to be successful. We are driving growth – helping to create jobs, develop communities, foster economic mobility; while managing risk and providing a return to our clients.

                    </p>
                </section>
            </div>
        </div>
        <div style="position: absolute; bottom: 50px; z-index: -1;">
            <img src="~/img/register/register_translucent_advanced.png" width="1110">
        </div>
    </div>
</body>
</html>
